@import "tailwindcss";
@font-face {
    font-family: "byekan";
    src: url("/fonts/BYEKAN.woff");
    font-weight: normal;
}
*{
    direction: rtl;
    font-family: "byekan";
    text-align: right;
}
.nav-link {
  @apply text-base md:text-lg text-gray-600 hover:text-blue-600 transition;
}
.mobile-link {
  @apply text-base font-medium text-gray-700 hover:text-blue-600 transition;
}
